## Libreries

In [2]:
import pandas as pd
import pickle
import numpy as np

C:\Users\felip\anaconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\felip\anaconda3\lib\site-packages\numpy\.libs\libopenblas.EL2C6PLE4ZYW3ECEVIV3OXXGRN2NRFM2.gfortran-win_amd64.dll
C:\Users\felip\anaconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

## Data

In [3]:
A_train = pd.read_excel("../../data/train_task_C1.xlsx", index_col="id")
A_val = pd.read_excel("../../data/val_task_C1.xlsx", index_col="id")
A_test = pd.read_excel("../../data/test_task_C1.xlsx", index_col="id")

In [4]:
X_train = A_train["Q A".split()]
y_train = A_train["label"]

X_test = A_test["Q A".split()]
y_test = A_test["label"]

X_val = A_val["Q A".split()]
y_val = A_val["label"]

In [5]:
X_train

,Q,A
id,,
137889,Marcelo quiere instalar baldosas en el patio d...,multiplicar 6x9
145583,"Durante 3 días, Carla gastó cada tarde 530 pes...",multiplique 530 x 3 tome el 3 y lo multiplique...
152799,Andrea tiene 200 pesos. Su abuela le regala un...,sume 200 + 350 y me dio 550 por lo tanto el re...
130932,Teresa tiene 35 flores para repartirlas entre...,Teresa en cada florero va a poner 7 flores y l...
134518,Francisca tiene ahorrados $ 15 000 y su mamá l...,X+15 000 IGUAL A 35 000 SU MAMA LE REGALA 20...
...,...,...
148157,"En una bolsa que tiene 5 bolitas rojas, 1 verd...",512215
138573,Camilo tiene que juntar 60 balones. Lleva junt...,nose estoy asiendo algo inportante
132666,Pamela tiene 25 flores y su amiga le regala 17...,david valdes
146336,Escribe una historia para que el duende Pepo p...,HABIA UNA VEZ UN DUENDE QUE SE LLAMABA PEPO QU...
148161,"En una bolsa que tiene 5 bolitas rojas, 1 verd...",9